In [38]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv("spam.csv", encoding="ISO-8859-1")
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [40]:
df.shape

(5572, 5)

In [41]:
#steps
#Data cleaning
#EDA
# text preprocessing
#model building
#evaluation of model
#improvments
#website
#deploy

## Data cleaning

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [44]:
#drop last 3 coloumn 
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)


df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [45]:
#renaming the column
df.rename(columns={'v1':'target','v2':'text'},inplace=True)
df.sample(5)

     target                                               text
2661    ham                 Do you know when dad will be back?
2045    ham  Okay... I booked all already... Including the ...
663     ham        Leave it de:-). Start Prepare for next:-)..
2569    ham           Ultimately tor motive tui achieve korli.
5035   spam  You won't believe it but it's true. It's Incre...

In [46]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [47]:
df['target'] = encoder.fit_transform(df['target'])

In [48]:
df.sample()

      target                                               text
3584       0  Heart is empty without love.. Mind is empty wi...

In [49]:
#check missing values 
df.isnull().sum()

target    0
text      0
dtype: int64

In [50]:
#check for duplicate values
df.duplicated().sum()

403

In [51]:
#remove the duplicated values
df = df.drop_duplicates(keep='first')

In [52]:
df.duplicated().sum()

0

# EDA

In [54]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [55]:
df['target'].value_counts()

target
0    4516
1     653
Name: count, dtype: int64

In [ ]:
import matplotlib.pyplot as plt
plt.pie(df['target'].value_counts(),labels=['ham','spam'],autopct="%0.2f")
plt.show()

In [ ]:
#data is inbalanced
import nltk

In [ ]:
nltk.download('punkt')

In [ ]:
df['num_characters']=df['text'].apply(len)  # calculating the no of characters used

In [ ]:
df['num_characters']

In [ ]:
df.head()

In [ ]:
# fetch the no of words
df['num_words']=df['text'].apply(lambda x:len(nltk.word_tokenize(x)))
df.head()

In [ ]:
df['num_sentence']=df['text'].apply(lambda x:len(nltk.sent_tokenize(x)))

In [ ]:
df.head()

In [ ]:
df[['num_characters','num_words','num_sentence']].describe()

In [ ]:
df[df['target']==0][['num_characters','num_words','num_sentence']].describe()    # for ham msg

In [ ]:
df[df['target']==1][['num_characters','num_words','num_sentence']].describe()   #for spam msg

In [ ]:
import seaborn as sns

In [ ]:
sns.histplot(df[df['target']==0]['num_characters'])
sns.histplot(df[df['target']==1]['num_characters'])             #spam
plt.figure(figsize=(12,6))

In [ ]:
sns.histplot(df[df['target']==0]['num_words'])
sns.histplot(df[df['target']==1]['num_words'])             #spam
plt.figure(figsize=(12,6))

In [ ]:
sns.histplot(df[df['target']==0]['num_sentence'])
sns.histplot(df[df['target']==1]['num_sentence'])             #spam
plt.figure(figsize=(12,6))

In [ ]:
sns.pairplot(df,hue='target')

In [ ]:
# pearson coefficient
sns.heatmap(df.select_dtypes(include='number').corr(), annot=True)

# DATA PROCESSING
I) Lower case    
II) Tokenization    
III) Removing special characters   
IV) Removing stop words and punctuation   
V) Stemming

In [ ]:
import nltk
import string
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

# Download required NLTK data (run once)
nltk.download('punkt')
nltk.download('stopwords')

ps = PorterStemmer()

def transform_text(text):
    text = text.lower()
    text = nltk.word_tokenize(text)

    y = []
    for i in text:
        if i.isalnum():
            y.append(i)

    text = y[:]
    y.clear()

    for i in text:
        if i not in stopwords.words('english') and i not in string.punctuation:
            y.append(i)

    text = y[:]
    y.clear()

    for i in text:
        y.append(ps.stem(i))

    return " ".join(y)

In [ ]:
transform_text("I'm gonna be home soon and i don't want to talk about this stuff anymore tonight, k? I've cried enough today.")

In [ ]:

ps = PorterStemmer()
ps.stem('loving')

In [ ]:
df['transformed_text'] = df['text'].apply(transform_text)

In [ ]:
df.head()